/* Nav CSS*/
.container-fluid.nav-container {
    padding: 0px 30px;
}

a.navbar-brand.crm-header {
    font-size: 23px;
    font-weight: 400;
}

/* Nav CSS*/

/* Welcome Page*/
h2.welcome-h2 {
    font-size: 50px;
}
/* Welcome Page */

/* FAQs */
.card-header {
    background: #066937 !important;
}

h4.faq-title.text-center {
    font-weight: 500;
}

.panel-body {
    line-height: 23px;
    text-align: justify;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: 400;
}

/* FAQs */

/* Customer Care Modal*/
.modal-body.customercare-body {
    padding: 20px;
}

.modal-content {
    padding: 30px;
}
/* Customer Care Modal*/

p.category {
    font-size: 11.8px;
    font-weight: 600;
}


img.img-logo.img-responsive {
    width: 12em;
}

.news-row p {
    font-size: 13px;
}

.read-more {
    font-size: 10px;
}

button.btn.btn-primary {
    background: #05592f !important;
}

.sidebar .nav p, .off-canvas-sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    color: #106f3f;
    font-weight: 500;
}

.main-panel>.content {
    margin-top: 70px;
    padding: 30px;
}

.contact-now {
  background: #c0462f;
  padding: 7px;
  font-weight: 500;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.contact-now:hover{
    color: #fff;
    text-decoration: none;
    background: #1d8422;
    transition: 0.5s;
}

.view-now {
  background: #c0462f;
  padding: 7px;
  font-weight: 500;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
}

.view-now:hover{
    color: #fff;
    text-decoration: none;
    background: #c1720a;
    transition: 0.5s;
}

.book-now {
  background: #c0462f;
  padding: 7px;
  font-weight: 500;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
}

.book-now:hover{
    color: #fff;
    text-decoration: none;
    background: #088594;
    transition: 0.5s;

}

.card .card-footer {
    margin: 0px 15px 13px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}


@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
    .sidebar .nav>li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}
